@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav ul{
    list-style: none;
    background-color: rgb(65, 10, 102);
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 45px;
}
nav ul li{
    padding: 0px 8px;
}

.gamecontainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.gameboard{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
.line{
    background-color: black;
    height: 3px;
    width: 0vw;
    border-radius: 20vw;
    line-break: loose;
    position: absolute;
    background-color: #470c7d;
    transition: width 1s ease-in-out;
}
.imgbox img{
    width: 0px;
    transition: width 1s ease-in-out;
}
.box{
    border: solid black 1.7px;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(238, 230, 241)
}

.gameinfo{
    padding: 35px;
    font-family: 'Coming Soon', cursive;
}

.bt-0{
    border-top: 0px;
}
.bb-0{
    border-bottom: 0px;
}
.bl-0{
    border-left: 0px;
}
.br-0{
    border-right: 0px;
}

#reset{
    padding: 8px;
    width: 106px;
    background-color: #ddcded;
    border-radius: 25px;
    font-weight: bolder;
    cursor: pointer;
}
.info{
    font-size: 28px;
}

@media screen and (max-width: 1050px)
{

    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 35px;
    }
    .gameinfo h1{
        font-size: 1.8rem;
    }
    .gameboard{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}